@import 'nib';
green_light = #48B4FB

body
  background #e2e2e2

.header
  background green_light
  color white

.header .login,
.header .nav-toggler
  color white
  padding 10px

#menu-container
  background #f4f4f4

#search-bar
  padding 1em

.btn-platzi
  background green_light
  color white

input[type="text"].form-control
  &:focus
    border 1px solid green_light

.carousel-container
  img
    margin 0 auto

.info-container
  background green_light
  img
    margin 0 auto
    margin-top 2em
    width 50%
    height 60%

.navbar
  a
    text-transform capitalize
.nav-item
  font-style italic
  display flex
  justify-content center
  align-items center
  margin 0 !important
  &:before
    content ''
    width 7px 
    height 7px 
    margin 0 12px
    border-radius 50%
    background green
    display inline-block
  &:first-child:before
    content ''
    width 0px 
    height 0px 
    display none
    


.list-group
  margin-top 2em

.list-group-item
  &.active
    background green_light

.listado-productos
  margin-top 2em
  .card
    margin-bottom 2em

// OOCSS
.flex
  display flex
.flex-between
  justify-content space-between
.flex-center
  justify-content center
.flex-middle
  align-items center



.padding10-0
  padding 10px 0


